.footer {
    padding-top: 2rem;
    /* py-8 */
    padding-bottom: 2rem;
    background-color: hsl(var(--background));
    border-top: 1px solid hsla(var(--border), 0.5);
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    /* px-6 */
    padding-right: 1.5rem;
    text-align: center;
    color: hsl(var(--muted-foreground));
}